body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
img {
    max-inline-size: 100%;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}
